<main class="container">
  <div class="card border-secondary my-2">
    <div class="card-header">
      Listado de Productos
    </div>
    <div class="card-body text-primary">
      <div class="wrapper" *ngIf="productos?.length > 0; else noProducto">
        <table class="table table-bordered table-striped table-secondary table-sm">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos; trackBy: tracker">
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}€</td>
              <td>
                <button class="btn btn-sm btn-warning mx-2" [routerLink]="['editar', producto.id]">Editar</button>
                <button class="btn btn-sm btn-danger mx-2" (click)="delete(producto)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noProducto>
        <div class="alert alert-primary">
          <p>
            No hay productos<span *ngIf="isAdmin()">: <a class="alert-link" routerLink="/productos/nuevo"> añadir nuevo producto </a></span>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</main>
