<div class="container">
  <ul class="alert alert-danger" *ngIf="errores">
    <li *ngFor="let error of errores">
      {{ error }}
    </li>
  </ul>
  <div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }} </div>
    <div class="card-body">
      <form #clienteForm="ngForm">
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre"
                   required="required" minlength="4" #nombre="ngModel" (keyup.enter)="cliente.id ? update() : create()"/>
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre?.errors.required">
                El nombre es requerido
              </div>
              <div *ngIf="nombre?.errors.minlength">
                El nombre debe de tener un mínimo de 4 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="cliente.apellidos"
                   required="required" #apellidos="ngModel" (keyup.enter)="cliente.id ? update() : create()"/>
            <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
              <div *ngIf="apellidos?.errors.required">
                Los apellidos son requeridos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Correo</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" email="true"
                   required="required" #email="ngModel" (keyup.enter)="cliente.id ? update() : create()"/>
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email?.errors.required">
                El email es requerido
              </div>
              <div *ngIf="email?.errors.email">
                Formato del email inválido
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row" tabindex="0">
          <input type="button" value="Guardar" class="btn btn-sm btn-primary mx-2" (click)="create()"
                 *ngIf="!cliente.id; else elseTemplate" [disabled]="!clienteForm.valid" #createbtn (keydown.enter)="test(createbtn.value)" />
          <ng-template #elseTemplate tabindex="1">
            <input type="button" value="Actualizar" name="update" class="btn btn-sm btn-primary mx-2" (click)="update()"
                   [disabled]="!clienteForm.valid" />
          </ng-template>
          <app-back-button class="mx-2"></app-back-button>
        </div>
      </form>
    </div>
  </div>
</div>
