<div class="row">
  <form class="col-12 pt-3" method="post"
        enctype="multipart/form-data" #facturaForm="ngForm">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-form-label text-right col-2">Cliente</label>
          <div class="col-10">
            <input type="text" class="form-control"
                   value="{{factura.cliente.nombre}} {{factura.cliente.apellidos}}"
                   disabled="disabled"/>
          </div>
        </div>
        <div class="form-group row justify-content-center"></div>
        <div class="form-group row">
          <label [(ngModel)]="factura.descripcion"
                 class="col-form-label text-right col-2">Descripción
          </label>
          <div class="col-10">
            <input type="text" class="form-control" [(ngModel)]="factura.descripcion"
                   placeholder="Descripción"/>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <small>

          </small>
        </div>
        <div class="form-group row">
          <label path="observacion"
                 class="col-form-label text-right col-2">Observación
          </label>
          <div class="col-10">
            <input type="text" class="form-control" path="observacion"
                   placeholder="Observación"/>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <small>

          </small>
        </div>
        <div class="form-group row">
          <label for="buscar" class="col-form-label text-right col-2">Productos</label>
          <div class="col-10">
            <mat-form-field>
              <input type="text" class="form-control" name="buscar_producto" id="buscar"
                     placeholder="Buscar producto" matInput [formControl]="buscar" [matAutocomplete]="auto"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <input type="submit" class="btn btn-primary" value="Crear" disabled="disabled" id="pedro"/>
          <input type="button" class="btn btn-danger ml-1" value="Volver" onclick="history.back()"/>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <table class="table col-11 mb-0" id="items">
        <thead>
          <tr class="bg-info row">
            <th class="col-5">Nombre</th>
            <th class="col-3">Precio</th>
            <th class="col-1">Cantidad</th>
            <th class="col-2 text-right">Importe</th>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items" class="row">
            <td class="col-5">{{item.producto.nombre}}</td>
            <td class="col-3">{{item.producto.precio}}€</td>
            <td class="col-1">
              <input class="form-control" type="number" [(ngModel)]="item.cantidad" [name]="item.producto.id.toString()" min="1"  (ngModelChange)="factura.calcularTotal()"/>
            </td>
            <td class="col-2 text-right">{{item.calcularImporte()}}€</td>
            <td class="col-1">
              <button class="btn btn-danger btn-xs" title="Eliminar" (click)="removeItem(item)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table col-11 mt-0">
        <tr class="alert-warning row">
          <th class="col-5"></th>
          <th class="col-3"></th>
          <th class="col-1"></th>
          <th class="col-2 form-group">
            <input type="number" disabled [(ngModel)]="factura.total" name="total" #total="ngModel" class="form-control text-right h-75"/>
          </th>
          <th class="col-1">Total</th>
        </tr>
      </table>
    </div>
  </form>
</div>
