/*
  Estilos generales para todo el proyecto
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a, button, .btn {
  cursor: pointer !important;
}

caption {
  caption-side: top !important;
  text-align: center;
}

input[type='number'][disabled] {
  -moz-appearance:textfield !important;
}

.wrapper {
  max-height: 25rem !important;
  overflow: auto !important;
}
