@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a, button, .btn {
  cursor: pointer !important;
}

caption {
  caption-side: top !important;
}

input[type='number'][disabled] {
  -moz-appearance:textfield !important;
}
