<div class="container">
  <div class="card bg-light">
    <div class="card-header">Detalles del cliente</div>
    <div class="card-body">
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">
         {{cliente.nombre}} {{cliente.apellidos}}
        </li>
        <li class="list-group-item">
          Email: {{cliente.email}}
        </li>
        <li class="list-group-item">
          Fecha de creación: {{cliente.createdAt}}
        </li>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="facturas && facturas.length > 0">
    <table>
      <caption>Facturas</caption>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas">
          <td>
            <a [routerLink]="['/factura', factura.id]">{{factura.descripcion}}</a>
          </td>
          <td>{{factura.observacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
