<div class="container" *ngIf="cliente">
  <div class="card bg-light">
    <div class="card-header">Detalles del cliente</div>
    <div class="card-body">
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">
         {{cliente.nombre}} {{cliente.apellidos}}
        </li>
        <li class="list-group-item">
          Email: {{cliente.email}}
        </li>
        <li class="list-group-item">
          Fecha de creación: {{cliente.createdAt}}
        </li>
      </ul>
      <div class="container" *ngIf="facturas && facturas.length > 0; else sinFactura">
        <table class="table table-striped table-bordered table-hover table-sm">
          <caption>Lista de facturas</caption>
          <thead>
          <tr>
            <th>Descripción</th>
            <th>Observaciones</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let factura of facturas">
            <td>
              <a [routerLink]="['/factura', factura.id]">{{factura.descripcion}}</a>
            </td>
            <td>{{factura.observacion}}</td>
            <td>{{factura.createdAt | date: 'mediumDate'}}</td>
            <td class="text-right">{{factura.total | number: '1.2-2'}}€</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="delete(factura)">X</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #sinFactura>
        <div class="aler alert-info mb-2 py-1">
          El cliente {{cliente.nombre}} {{cliente.apellidos}} no tiene facturas
        </div>
      </ng-template>
      <app-back-button class="ml-3"></app-back-button>
    </div>
  </div>
</div>
