<div>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Fecha creación</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellidos}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createdAt}}</td>
      </tr>
    </tbody>
  </table>

  <div class="container" *ngIf="facturas && facturas.length > 0">
    <table>
      <caption>Facturas</caption>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas">
          <td>{{factura.descripcion}}</td>
          <td>{{factura.observacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
