<div class="container">
  <div class="card bg-dark text-white">
    <div class="card-header"></div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-3">Nombre de usuario</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.username"
                   required="required" minlength="4" (input)="isValid()"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="pw" class="col-form-label col-sm-3">Contraseña</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="pw" name="pw" [(ngModel)]="usuario.password"
                   #password="ngModel" (input)="isValid()"
                   required="required" minlength="8"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmar" class="col-form-label col-sm-3">Confirmar Contraseña</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="confirmar" name="confirmar" [(ngModel)]="this.pw2"
                   #confirmar="ngModel" (keyup.enter)="esValido ? register() : false" (input)="isValid()"
                   required="required" minlength="8"/>
          </div>
        </div>
        <div class="alert alert-danger"
             *ngIf="(password.value && confirmar.value) && password.value != confirmar.value && (password.dirty || password.touched || confirmar.dirty || confirmar.touched)">
          Las contraseñas no coinciden
        </div>
        <div class="form-group row">
          <input type="button" value="Registrarse" class="btn btn-primary btn-sm ml-2" (click)="register()" [disabled]="!esValido"/>
        </div>
      </form>
    </div>
  </div>
</div>
